.Summary{
  position: absolute;
  bottom: 10%;
  top: 15%;
  left: 70%;
  vertical-align: top;
  width: 30%;
}
.Img-width{
  width: 90%;
  height: 50%;
}
.Summary-table{
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  padding:  1px;
  font-size: 13px;
 
}

.Summary-table thead th{
  background-color: rgb(84, 181, 219);
  padding-top: 3px;
  padding-bottom:  3px;
  font-size: 14px;
}

.Summary-table tbody tr:first-child{
  text-align: center;
}

.Summary-table tbody th{
  text-align: left;
}